@import "./Styles/UI";
@import "./Styles/ControlBar";
@import "./Styles/Controls";

.view.universe {
    padding-left: 0;
    width: 100%;
}

.text-label {
    color: $lightest-color;
    cursor: pointer;
    font-size: 80%;
    position: absolute;
    top: 0;
    z-index: 10;
}