@import "./Styles/UI";
@import "./Styles/ControlBar";
@import "./Styles/Controls";
@import "./Styles/Simulator";

.view.universe {
    padding-left: 0;
    width: 100%;
}

.app--divided .view.universe {
    width: calc(100% + #{$panel-width})
}