.control-panel {
    @include size(3rem, 100%);
    box-sizing: border-box;
    padding-top: 0.5rem;
    pointer-events: none;
    position: absolute;
    right: 0.5rem;
    top: 0;

    .control {
        @include opacity-hover;
        @include size(3rem);
        background-size: 60% auto;
        pointer-events: all;
        position: relative;

        &--inner {
            font-size: 80%;
            line-height: 3rem;
            opacity: 0;
            pointer-events: none;
            position: absolute;
            right: 3rem;
            text-align: right;
            transition: opacity $medium-animation-duration;
            user-select: none;
            white-space: nowrap;
        }
    }

    &:hover {
        .control--inner {
            opacity: 1;
        }
    }
}