.panel__bodies {
    @include size(100%, calc(100% - 3.1rem));
    background-color: $top-layer-color;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    user-select: none;

    .editor__control--add {
        bottom: 3rem;
    }

    &--inner {
        overflow: auto;
    }

    .table {
        width: 200rem;

        &__row .table__cell:first-of-type {
            box-sizing: border-box;
            padding-left: 1rem;
            width: 150%;
        }
    }

    &__filter, &__settings {
        padding: 0 0.5rem;

        .form {
            padding: 0;
        }
    }

    &__filter {
        margin-bottom: 1.5rem;
    }

    &__settings {
        .form__flex-row {
            opacity: 1 !important;
        }
    }

    &__filter, &__settings {
        .form {
            padding-left: 0;

            &__flex-row {
                display: none;

                &:nth-last-child(2) {
                    opacity: 0.2;
                    @include opacity-hover;

                    .form__button--remove {
                        visibility: hidden;
                    }
                }

                &:nth-child(1), &:nth-child(2), &:nth-child(3) {
                    display: flex;
                }
            }

            &__button {
                &--remove {
                    @include opacity-hover;
                    @include size(3rem !important);
                    @include svg("Panel/Bodies/Remove", 60%);
                    margin-right: 0;
                    min-width: 2rem;
                }
            }

            &__field {
                height: 100%;
                padding: 0;
            }
        }
    }
}