.panel__bodies {
    @include size(100%, calc(100% - 1.5rem));
    background-color: $top-layer-color;
    overflow: hidden;
    user-select: none;

    &--scroll {
        @include size;
        overflow-y: scroll;
    }

    &--inner {
        overflow: hidden;
    }
}