.panel__body {

    &__data {

        .data-table {
            border: 1px solid $medium-dark-color;
            box-sizing: border-box;
            width: 50%;

            &__row {
                background-color: $semitransparent-medium-color;

                &:nth-of-type(2n) {
                    background-color: darken($semitransparent-medium-color, 5);
                }
            }

            &__cell {
                &--title {
                    background-color: $medium-dark-color;
                    font-weight: bold;
                }
            }
        }

        &__chart {
            @include size(100%, 16rem);
            box-sizing: border-box;
            padding: 1rem;
            position: relative;

            svg > g > g:last-child {
                pointer-events: none;
            }
        }

        &__preview {
            @include size(100%, 18.75rem);
            text-align: center;

            &--left {
                @include size(50%, 100%);
                box-sizing: border-box;
                float: left;
                padding: 1rem;
            }

            &--right {
                @include size(50%, 100%);
                float: right;
            }
        }

        &__title {
            font-size: 150%;
        }

        &__subtitle {
            font-size: 100%;
            font-weight: normal;
        }

        &__description {
            line-height: 1.5em;
            margin-top: 1rem;
        }
    }

    .panel__window__body--scroll {
        height: 100%;
    }

    .event-area {
        margin-top: 0.5rem;
    }

    &__timeline {
        &__preview {
            @include size(100%, 6.25rem);

            &--left {
                @include size(78%, 100%);
                box-sizing: border-box;
                float: left;
                padding: 1rem;
            }

            &--center {

            }

            &--right {
                @include size(22%, 100%);
                float: right;
            }
        }
    }

    &__discussion {
        box-sizing: border-box;
        padding: 0.5rem;

        &__topic {
            margin-left: 3.5rem;
            position: relative;
            width: calc(100% - 3.5rem);
        }

        &__avatar {
            @include absolute-position;
            @include size(3rem);
            background-color: $light-color;
            left: -3rem;
        }

        &__metadata {
            font-size: 90%;
        }

        &__author {
            font-weight: bold;
        }

        &__date {
            color: $light-color;
            font-weight: 100;
            margin-left: 0.5rem;
        }

        &__content {
            padding-left: 0.5rem;
        }
    }

}