.panel__body {

    &__data {

        .data-table {
            border: 1px solid $medium-dark-color;
            box-sizing: border-box;
            width: 50%;

            &__row {
                background-color: $semitransparent-medium-color;

                &:nth-of-type(2n) {
                    background-color: darken($semitransparent-medium-color, 5);
                }
            }

            &__cell {
                &--title {
                    background-color: $medium-dark-color;
                    font-weight: bold;
                }
            }
        }

        &__chart {
            @include size(100%, 16rem);
            position: relative;

            svg > g > g:last-child {
                pointer-events: none;
            }
        }

        &__preview {
            @include size(100%, 18.75rem);
            text-align: center;

            &--left {
                @include size(50%, 100%);
                box-sizing: border-box;
                float: left;
                padding: 1rem;
            }

            &--right {
                @include size(50%, 100%);
                float: right;
            }
        }

        &__title {
            font-size: 150%;
        }

        &__subtitle {
            font-size: 100%;
            font-weight: normal;
        }

        &__description {
            line-height: 1.5em;
            margin-top: 1rem;
        }
    }

    .panel__window__body--scroll {
        height: 100%;
    }

}