.panel__chat {
    @include size(31.7rem, 100%);

    .user-info--small {
        float: left;
        margin: 0 !important;
        margin-right: 0.5rem !important;
        overflow: hidden;
        position: relative;
    }

    &__message {
        margin: 1rem 0.5rem;

        &:first-of-type {
            margin-top: 0;
        }

        &:last-of-type {
            margin-bottom: 0;
        }

        &__metadata {
            font-size: 80%;
            line-height: 1.5em;
        }

        &__author, &__date {
            color: $light-color;
            font-weight: 100;
            vertical-align: top;
        }

        &__date {
            margin-left: 1rem;
        }

        &--inner {
            background-color: $medium-dark-color;
            box-sizing: border-box;
            display: inline-block;
            line-height: 1.5em;
            padding: 0.5rem;
            max-width: calc(100% - 4.5rem);
        }

        &--own {
            text-align: right;

            .user-info--small {
                float: right !important;
                margin-left: 0.5rem !important;
                margin-right: 0 !important;
            }
        }

        &--event {
            .panel__chat__message {
                &--inner {
                    background-color: $medium-color;
                    font-weight: bold;
                    width: 100%;
                    max-width: none;
                }

                &__date {
                    margin: 0;
                }
            }
        }
    }

    &__new-message {
        @include size(100%, 3rem);
    }

    &__input {
        @include size(calc(100% - 5rem), 3rem, true);
        background: transparent;
        box-sizing: border-box;
        color: $lightest-color;
        font-size: 110%;
        margin: 0.5rem;
        padding: 0 1rem;
    }

    &__send {
        @include opacity-hover;
        @include size(2.5rem);
        @include svg("Panel/Chat/Send", 90% auto);
        float: right;
        margin: 0.8rem 0;
        margin-right: 1rem;
    }

    .user-info--large {
        box-shadow: 0 0 0.5rem $darkest-color;
    }

    .user-info--small {
        float: left;
    }

}