@keyframes FadeInHeightMessage {
    from {
        margin: 0 0.25rem;
        max-height: 0;
    }

    to {
        margin: 0 0.25rem;
        margin-bottom: 0;
        max-height: 7rem;
    }
}

.panel__chat {
    @include size(31.7rem, 100%);

    .panel__window__body--inner {
        & > section:last-of-type {
            margin-bottom: 0;
        }
    }

    .user-info--small {
        float: left;
        margin: 0 !important;
        margin-right: 0.5rem !important;
        overflow: hidden;
        position: relative;
    }

    &__message {
        box-sizing: border-box;
        margin: 0.5rem 0.25rem;
        overflow: hidden;

        &--outer {
            background-color: $medium-dark-color;
            box-sizing: border-box;
            margin: 0.5rem 0.25rem;
            padding: 0.5rem;
            position: relative;
            width: calc(100% - 0.75rem);

            .panel__chat__message {
                margin-bottom: 0;
                overflow: hidden;
                padding-left: 0;
            }
        }

        &__state {
            font-size: 80%;

            &--0 {
                color: #FC0;
            }

            &--2 {
                color: #F75;
            }
        }

        &__link {
            @include opacity-hover;
            @include size(2rem, 3rem);
            @include svg("Panel/Chat/Link");
            bottom: 1rem;
            position: absolute;
            right: 1rem;
        }

        &__title {
            font-weight: bold;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        &--new {
            animation: FadeInHeightMessage $medium-animation-duration ease-in-out 1;
        }

        &:first-of-type {
            margin-top: 0;
        }

        &__metadata {
            font-size: 80%;
            line-height: 1.3em;
        }

        &__author, &__date {
            color: $light-color;
            font-weight: 100;
            vertical-align: top;
        }

        &__date {
            margin-left: 1rem;
        }

        &--inner {
            background-color: $medium-dark-color;
            box-sizing: border-box;
            display: inline-block;
            line-height: 1.5em;
            padding: 0.3rem 0.5rem;
            padding-bottom: 0.2rem;
            max-width: calc(100% - 4.5rem);
        }

        &--own {
            text-align: right;

            .user-info--small {
                float: right !important;
                margin-left: 0.5rem !important;
                margin-right: 0 !important;
            }
        }

        &--event {
            .panel__chat__message {
                &--inner {
                    background-color: $medium-color;
                    font-weight: bold;
                    width: 100%;
                    max-width: none;
                }

                &__date {
                    margin: 0;
                }
            }
        }
    }

    .form {
        @include size(100%, 5rem);
        margin-top: 1rem;
        padding: 1rem;

        &__block {
            @include size(calc(100% - 5rem), 2rem, true);
            float: left;
            padding: 0;
        }

        &__field {
            background: transparent;
            border-bottom: none;
            box-sizing: border-box;
            color: $lightest-color;
            font-size: 110%;
        }

        &__button {
            @include opacity-hover;
            @include size(2.5rem);
            @include svg("Panel/Chat/Send", 90% auto);
            float: right;
            margin-top: -0.4rem;

            &__icon {
                display: none;
            }
        }

        .loader {
            background-size: auto 100%;
        }
    }

    .user-info--large {
        box-shadow: 0 0 0.5rem $darkest-color;
    }

    .user-info--small {
        float: left;
    }

    &__unread {
        @include size(15rem, 2.5rem, true);
        background-color: $darkest-color;
        bottom: 5rem;
        box-shadow: 0 0 0.5rem $light-color;
        color: $lightest-color;
        cursor: pointer;
        font-size: 100%;
        font-weight: bold;
        left: calc(40% - 7.5rem);
        position: absolute;
        text-align: center;
    }

}