.panel__overview {
    background-color: $top-layer-color;
    box-sizing: border-box;
    overflow: hidden;
    padding: 0 0.1rem;
    padding-top: 0.4rem;

    .user-info {
        margin: 0.3rem;
    }

    &__controls {
        display: flex;
    }

    &__button {
        @include size(9.3rem, 5rem);
        background-color: $dark-color;
        background-position: center 30% !important;
        background-size: auto 40% !important;
        box-sizing: border-box;
        color: $lightest-color;
        font-size: 90%;
        line-height: 8rem;
        margin: 0.2rem 0.4rem;
        padding: 0;
        text-align: center;
        transition: background-color $fast-animation-duration;

        &:hover {
            background-color: #444;
        }

        &--clean {
            @include svg("Panel/Overview/Clean");
        }

        &--login {
            @include svg("Controls/Login");
        }
    }

    .users-list {
        @include size(28rem, calc(100vh - 9rem));
        overflow-y: scroll;

        .user-info--medium {
            &:first-of-type, &:nth-of-type(2) {
                margin-top: 0 !important;
            }
        }
    }

    .toggle-layout {
        height: calc(100% - 5.6rem);

        &__item {
            &:first-of-type {
                width: calc(100% - 28rem);

                &.toggle-layout__item--active {
                    width: 80%;
                }
            }

            &:last-of-type {
                width: 20%;

                &.toggle-layout__item--active {
                    width: 28rem;
                }
            }

            float: left;
        }
    }

}