.panel {
    @include absolute-position;
    background-color: $bottom-layer-color;
    height: 100vh;
    left: -$panel-width;
    transition: left $medium-animation-duration, opacity $medium-animation-duration, width $medium-animation-duration;
    z-index: 1000;

    &--visible {
        left: 0;
    }

    &--inner {
        @include size(100%);
    }

    &--toggle {
        @include absolute-position(100%, 50%);
        @include opacity-hover;
        @include size(2.5rem, 5rem);
        @include svg("Panel/Toggle");
        transform: translateY(-50%);
        transition: opacity $fast-animation-duration, transform $medium-animation-duration;
    }

    &__tabs {
        @include size(100%, 3rem);
        display: flex;

        &__tab {
            @include size;
            color: $lightest-color;
            font-size: 100%;
            line-height: 3rem;
            text-align: center;
            transition: background-color $fast-animation-duration;
            user-select: none;

            &--selected {
                cursor: default;
                pointer-events: none;
            }

            &--selected, &:hover {
                background-color: $top-layer-color
            }
        }
    }

    &__window {
        @include size(100%, calc(100% - 3rem));

        &__body {
            @include size(100%, calc(100% - 3rem));
            background-color: $top-layer-color;
            overflow: hidden;

            &--scroll {
                @include size(100%, calc(100% - 4rem));
                overflow-y: scroll;
            }

            &--inner {
                overflow: hidden;
            }
        }

        &__menu {
            @include size(100%, 3rem);
            display: flex;

            &__button {
                @include size;
                color: $lightest-color;
                font-size: 100%;
            }
        }
    }

}

.app--divided {
    .panel {
        left: 0;

        &--toggle {
            transform: rotate(180deg) translateY(50%);
        }
    }
}