.panel {
    @include absolute-position;
    background-color: $bottom-layer-color;
    height: 100vh;
    left: -$panel-width;
    transition: left $medium-animation-duration, opacity $medium-animation-duration, width $medium-animation-duration;
    z-index: 1000;

    &--visible {
        left: 0;
    }

    &--inner {
        @include size(100%);
    }

    &--toggle {
        @include absolute-position(100%, 50%);
        @include opacity-hover;
        @include size(2.5rem, 5rem);
        @include svg("Panel/Toggle");
        transform: translateY(-50%);
        transition: opacity $fast-animation-duration, transform $medium-animation-duration;
    }

    &__window {
        @include size(100%, calc(100% - 3rem));

        &__body, &__bodies {
            @include size(100%, calc(100% - 3rem));
            background-color: $top-layer-color;
            overflow: hidden;

            &--scroll {
                @include size(100%, calc(100% - 4rem));
                overflow-x: hidden;
                overflow-y: scroll;
            }

            &--inner {
                overflow: hidden;
            }
        }

        &__bodies {

            &--scroll {
                height: 100%;
            }

        }

        &__menu {
            @include size(100%, 3rem, true);
            display: flex;
            text-align: center;

            &__link {
                @include size;
                color: $lightest-color;
                font-size: 100%;
                transition: background-color $fast-animation-duration;

                &--active {
                    cursor: default;
                    pointer-events: none;
                }

                &--active, &:hover {
                    background-color: $top-layer-color
                }
            }
        }
    }

}

.app--divided {
    .panel {
        left: 0;

        &--toggle {
            transform: rotate(180deg) translateY(50%);
        }
    }
}

.hover-layout {

    &--left, &--right {
        float: left;
        overflow: hidden;
        transition: width $medium-animation-duration;
    }

    &--left {
        width: 85%;
    }

    &--right {
        width: 15%;
    }

    &:hover {
        .hover-layout {
            &--left {
                width: 15%;
            }

            &--right {
                width: 85%;
            }
        }
    }

}