.universe {

    &__controls {
        @include size(22rem, 22rem);
        bottom: 2rem;
        cursor: default;
        display: flex;
        flex-direction: column;
        left: 0;
        letter-spacing: 0.1em;
        text-align: center;

        &__row {
            @include size;
            display: flex;
            flex-direction: row;
        }

        &__cell {
            @include size;
        }

        &__button {
            @include size;
            background-color: $semitransparent-medium-color;
            color: $lightest-color;
            font-size: 90%;
            letter-spacing: 0.05em;
            overflow: hidden;
            position: relative;
            z-index: 1;

            &:before {
                @include absolute-position;
                @include size(200%, 400%);
                background-color: $medium-dark-color;
                content: "";
                transform: rotate(60deg) translateY(115%) translateX(-42%);
                transition: transform $medium-animation-duration;
                z-index: -1;
            }

            &--semi-active {
                &:before {
                    transform: rotate(60deg) translateY(70%) translateX(-42%);
                }
            }

            &:hover, &--active {
                &:before {
                    transform: rotate(60deg) translateY(20%) translateX(-42%);
                }
            }

            @each $button in (Light, Move, Faster, Slower, Speed, Now, Panel, Orbits, Labels, Velocity, Earth, Camera, Center, Particles, Follow) {
                &--#{to_lower_case($button)} {
                    .universe__controls__button__icon {
                        @include svg("Universe/UI/#{$button}");
                    }
                }
            }

            &__key {
                font-size: 80%;
                font-style: italic;
                opacity: 0;
                position: absolute;
                right: 0.5rem;
                top: 0.5rem;
                transition: opacity $medium-animation-duration;
            }

            &:hover .universe__controls__button__key {
                opacity: 1;
            }

            &__icon {
                @include size(2rem);
                background-size: auto 70%;
                background-position: 10% center;
                display: inline-block;
                margin-right: 1rem;
                vertical-align: middle;
            }
        }
    }

}