.universe {

    &__label {
        color: #FFF;
        cursor: pointer;
        font-size: 80%;
        position: absolute;
        text-shadow:  0 0 0.5rem #000;
        top: 0;
        white-space: pre;
        z-index: 1000;
    }

    @each $item in (name, velocity, earth, camera, center) {
        &__label__#{$item} {
            display: none;
        }

        &__simulator--#{$item} {
            .universe__label__#{$item} {
                display: block;
            }
        }
    }

}