.unauth-identity {
    margin-bottom: 4rem;
    user-select: none;

    &__avatar {
        @include size(4rem);
        border-radius: 100%;
        float: left;
    }

    &__first-name {
        @include size(calc(100% - 7rem), 4rem, true);
        box-sizing: border-box;
        padding-left: 1rem;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__back {
        @include size(3rem, 4rem);
        @include svg(Forms/Back, 2rem auto, right center);
        float: right;
        transition: transform $fast-animation-duration;

        &:hover {
            transform: translateX(-0.5em);
        }
    }
}