.user-score {
    width: 100%;

    &__reputation {
        font-size: 80%;
        margin-bottom: 1.5rem;

        &--value {
            font-size: 130%;
            font-weight: 900;
        }
    }

    &__gold, &__silver, &__bronze {
        box-sizing: border-box;
        font-size: 90%;
        height: 2rem;
        margin: 0 0.3rem;
        padding: 0.5rem;
        padding-left: 1.5rem;
        position: relative;
        text-align: center;
        white-space: nowrap;
        width: 100%;

        &:first-of-type {
            margin-left: 0;
        }

        &:last-of-type {
            margin-right: 0;
        }

        &:after {
            @include absolute-position(0.5rem, 50%);
            @include size(0.6rem);
            border-radius: 100%;
            content: "";
            transform: translateY(-50%);
        }
    }

    &__gold {
        background-color: darken(gold, 30%);

        &:after {
            background-color: gold;
        }
    }

    &__silver {
        background-color: darken(silver, 40%);

        &:after {
            background-color: silver;
        }
    }

    &__bronze {
        background-color: darken(#cd7f32, 30%);

        &:after {
            background-color: #cd7f32;
        }
    }
}