@import "./Styles/UserInfo";
@import "./Styles/Login";
@import "./Styles/UserDetail";

.identity, .login, .sign-up, .reset-password {
    @include flex-center;

    .form {
        background-color: $semitransparent-medium-color;
        box-shadow: 0 0 1em $darkest-color;
        padding: 2em;
        width: 23em;

        .user-info {
            margin-top: -1rem;
            margin-bottom: 2rem;
        }
    }
}

.sign-up {

    .form__input--password {
        @include svg(Forms/Password, auto 50%, 95% center);

        &.form__input--invalid {
            @include svg(Forms/InvalidPassword, auto 50%, 95% center);
        }
    }

}