/**
 * This file contains constants for all styles.
 */

/**
 * Colors.
 */
$lightest-color: #eee;
$light-color: #aaa;
$medium-color: #666;
$dark-color: #333;
$darkest-color: #111;
$semitransparent-medium-color: rgba(60, 60, 60, 0.5);
$semitransparent-dark-color: rgba(0, 0, 0, 0.5);

/**
 * Colors for gradient background.
 */
$background-top-color: #122;
$background-bottom-color: #111;

/**
 * Animation furations.
 */
$fast-animation-duration: 0.2s;
$medium-animation-duration: 0.5s;
$slow-animation-duration: 1s;