@include font-face(LatoHairline);
@include font-face(MontserratExtraLight);
@include font-face(MontserratHairline);

html, body {
    @include size;
    margin: 0;
    overflow: hidden;
}

body {
    @include content-font;
    background-color: $darkest-color;
    background-image: radial-gradient(ellipse at top, $background-top-color, $background-bottom-color);
    color: $lightest-color;
    font-weight: 100;
    letter-spacing: 0.05rem;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

a, a:link, a:visited, a:hover, a:active {
    color: $lightest-color;
    font-weight: 100;
    text-decoration: none;
}

p {
    margin: 0;
}

button {
    @include content-font;
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    user-select: none;
}

input, textarea, select, option {
    @include content-font;
    border: none;
    border-radius: 0;
    outline: none;
    -webkit-appearance: none;
}

.view {
    @include absolute-position;
    @include size;
    overflow: hidden;
    transition: padding-left $medium-animation-duration, width $medium-animation-duration;
}

#app, #app > div {
    @include size;
    overflow: hidden;
}

.app {
    @include size;

    &__body {
        @include size(100%);
        box-sizing: border-box;
        position: relative;
    }

    &__background {
        @include absolute-position;
        @include size;
        z-index: 1;
    }

    &__foreground {
        @include size;
        position: relative;
        z-index: 2;
    }

    &__transition-enter, &__transition-exit {
        opacity: 0;
        transition: opacity $medium-animation-duration;
    }

    &__transition-enter-active {
        opacity: 1;
    }

    .panel {
        width: $panel-width;
    }

    &--divided {
        .view {
            padding-left: $panel-width;
            width: calc(100% - #{$panel-width});
        }
    }

    &--divided-large {
        .panel {
            width: $panel-large-width;
        }

        .view {
            padding-left: $panel-large-width;
            width: calc(100% - #{$panel-large-width});
        }
    }
}

/**
 * Styles for scrollbar.
 */
::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0);

    &:hover {
        // background-color: #222;
    }
}

::-webkit-scrollbar-corner {
    background: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
    background-color: #444;

    &:hover {
        background-color: #555;
    }
}

* {
    transition-timing-function: ease-in-out !important;
}