$duration: 3.6s;
$size: 2rem;

@keyframes square-loader-scale {
    0% { transform: scale(1); }
    50% { transform: scale(0.8); }
    100% { transform: scale(1); }
}

@keyframes square-loader-loading-1 {
    0% { transform: none; width: $size; }
    20% { transform: none; width: $size; }
    40% { transform: translateX(-$size); width: #{3 * $size}; }
    60% { transform: translateX(-#{3 * $size}) rotate(90deg); transform-origin: bottom right; width: #{3 * $size}; }
    80% { transform: translateX(-#{0.5 * $size}) rotate(90deg); width: $size; }
    100% { transform: none; width: $size; }
}

@keyframes square-loader-loading-2 {
    0% { transform: none }
    20% { transform: rotate(180deg); }
    40% { transform: rotate(180deg); }
    60% { transform: none; }
    80% { transform: none; }
    100% { transform: none; }
}

@keyframes square-loader-shadow {
    0% { transform: translateX(-#{0.5 * $size}); width: #{3 * $size}; }
    20% { transform: translateX(#{0.75 * $size}); width: #{1.5 * $size}; }
    40% { transform: translateX(-#{0.5 * $size}); width: #{4 * $size}; }
    60% { transform: translateX(#{0.75 * $size}); width: #{1.5 * $size}; }
    80% { transform: translateX(#{0.75 * $size}); width: #{1.5 * $size}; }
    100% { transform: translateX(-#{0.5 * $size}); width: #{3 * $size}; }
}

@keyframes square-loader-float {
    0% { top: 50%; }
    50% { top: 70%; }
    100% { top: 50%; }
}

.square-loader {
    @include size(100%);
    left: 0;
    pointer-events: none;
    position: absolute;
    top: 0;

    &--inner {
        @include size(#{5 * $size});
        animation: square-loader-scale 1s infinite linear;
        left: calc(50% - #{2.5 * $size});
        position: absolute;
        top: calc(50% - #{2 * $size});
        transition: opacity $fast-animation-duration;
    }

    &--primary, &--secondary {
        @include size($size);
        background-color: $medium-color;
        position: absolute;
        transform: translateX(0) translateY(0) rotate(0);
    }

    &--primary {
        animation: square-loader-loading-1 $duration ease 0s infinite forwards;
        left: 50%;
        margin-top: -#{0.5 * $size};
        margin-left: -#{0.5 * $size};
        top: 50%;
        z-index: 2;
    }


    &--secondary {
        animation: square-loader-loading-2 $duration ease 0s infinite forwards;
        left: -$size;
        top: 0;
        transform-origin: top right;
    }

    &__reflect {
        @include size(6rem, 200vh);
        animation: square-loader-reflect 4s infinite;
        background-color: $lightest-color;
        content: "";
        left: 0;
        opacity: 0.2;
        position: absolute;
        top: -50vh;
        transform: rotate(40deg);
    }

    &__shadow {
        @include size(#{2 * $size}, #{0.2 * $size});
        animation: square-loader-shadow $duration ease 0s infinite forwards, square-loader-float 5s ease-in-out 0s infinite forwards;
        background-color: $darkest-color;
        border-radius: 100%;
        left: 50%;
        margin-left: -#{1.5 * $size};
        margin-top: $size;
        position: absolute;
        top: 50%;
        transform: translateX(0) translateY(0) rotate(0);
        z-index: 1;
    }
}