.toggle-layout {
    height: 100%;

    &__item {
        height: 100%;
        opacity: 0.3;
        overflow: hidden;
        transition: height $medium-animation-duration, width $medium-animation-duration, opacity $medium-animation-duration;

        & > * {
            pointer-events: none;
        }

        &--active {
            opacity: 1;

            & > * {
                pointer-events: all;
            }
        }

        &:not(.toggle-layout__item--active):hover {
            cursor: pointer;
            opacity: 0.7;
        }

    }

}