.form {
    box-sizing: border-box;
    font-size: 120%;
    display: block;
    overflow: hidden;
    padding: 1em;
    position: relative;

    & > label, & > section, & > button, & > legend {
        transition: opacity $medium-animation-duration;
    }

    &__title {
        @include title(160%, 900, 0.2em);
        padding-bottom: 2em;
    }

    &__block {
        display: block;
        padding-bottom: 2em;
        position: relative;
    }

    &__label {
        @include content-font;
        @include size(auto, 2em, true);
        color: $light-color;
        left: 0;
        pointer-events: none;
        position: absolute;
        top: 0;
        transform-origin: left center;
        transition: transform $medium-animation-duration;
        user-select: none;
    }

    &__input {
        @include content-font;
        background-color: transparent;
        border-bottom: 0.1em solid $light-color;
        box-sizing: border-box;
        display: block;
        font-size: 100%;
        color: $lightest-color;
        padding: 0.5em 0;
        transition: border-color $fast-animation-duration;
        width: 100%;

        &:focus {
            border-color: $lightest-color;
        }

        &:not([value=""]), &:focus {
            & + .form__label {
                transform: translateY(-1.5em) scale(0.7);
            }
        }
    }

    &__button {
        @include size(50%, 2.5em);
        @include svg(User/FormNext, auto 2rem, 90% center);
        @include title(130%, 900, 0.2em);
        color: $lightest-color;
        float: right;
        padding: 0;
        padding-right: 4rem;
        text-align: right;
    }

    .square-loader {
        opacity: 0;
    }

    &--send {
        cursor: wait;
        pointer-events: none;

        & > label, & > section, & > button, & > legend {
            opacity: 0.1;
        }

        .square-loader {
            opacity: 1;
            pointer-events: all;
        }
    }

}